<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/020f3f4b-1ffc-4abe-859b-700313645bc7/resourceGroups/IST-WST-Group-14/providers/Microsoft.Web/sites/IST-WST-Group-14</ResourceId>
    <ResourceGroup>IST-WST-Group-14</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ist-wst-group-14.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ist-wst-group-14.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IST-WST-Group-14</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$IST-WST-Group-14</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GroupWst14ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=146.230.177.46;Initial Catalog=GroupWst14;User ID=GroupWst14;Password=9da81" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=146.230.177.46;Initial Catalog=GroupWst14;Persist Security Info=True;User ID=GroupWst14;Password=9da81" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GroupWst14ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=146.230.177.46;Initial Catalog=GroupWst14;Persist Security Info=True;User ID=GroupWst14;Password=9da81" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Appointment" Order="2" Enabled="False">
          <Destination Path="Data Source=146.230.177.46;Initial Catalog=GroupWst14;User ID=GroupWst14;Password=9da81" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=146.230.177.46;Initial Catalog=GroupWst14;User ID=GroupWst14;Password=9da81" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Appointment_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=146.230.177.46;Initial Catalog=GroupWst14;User ID=GroupWst14;Password=9da81;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Appointment-Web.config Connection String">
      <ParameterValue>Data Source=146.230.177.46;Initial Catalog=GroupWst14;User ID=GroupWst14;Password=9da81</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="GroupWst14ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=146.230.177.46;Initial Catalog=GroupWst14;User ID=GroupWst14;Password=9da81</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>